<div class="view-requirement">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Enrollment Requirements</h3> 
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a onclick="dashboard()">Home</a></li>
                <li class="breadcrumb-item active"><a>Enrollment Requirements</a></li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start of Card  -->
        <div class="studentCard">
            <div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="input-group input-group-flat">
                                <span class="input-group-btn"><button class="btn btn-custom" type="submit"><i class="ti-search"></i></button></span>
                                <input type="text" id="searchReq" class="form-control" placeholder="Search..." style="font-size: 12px;">
                                <span class="input-group-btn"><button class="btn btn-primary input-group-close-icon" onclick="clrSearchReq()" type="button"><i class="ti-close"></i></button></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="pull-right">
                            <button type="button" id="btnNewBranch" onclick="addReqClass()" class="btn btn-success m-b-10 m-l-5">New Requirement Class</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <hr class="hrCustom">
                        <div class="card branchCard">
                            <h3>Requirement Classification</h3>
                            <div class="table-responsive">
                                <table class="table tblReqClass table-hover">
                                    <thead>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>17-18 years old</td>
                                        </tr>
                                        <tr>
                                            <td>19 years old and above</td>
                                        </tr>
                                        <tr>
                                            <td>Non-Filipino students &amp; tourists</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr class="hrCustom">
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <hr class="hrCustom">
                        <div class="card branchCard">
                            <h3>List of Requirements</h3><hr>
                            <div style="padding-left: 30px;">
                                <div class="row">
                                    <div class="col-md-8 col-lg-8 col-sm-7 col-xs-7">
                                        <h4 class="selectedReqClass">17-18 yrs. old</h4>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                        <i class="ti-plus tiV" id="btnAddClReq" onclick="addClReq()" data-toggle="tooltip" data-placement="bottom" title="Update"></i>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                        <i class="ti-pencil tiV" id="btnEditClReq" onclick="editClReq()" data-toggle="tooltip" data-placement="bottom" title="Update"></i>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                                        <i class="ti-close tiV" id="btnDelClReq" onclick="delClReq()" data-toggle="tooltip" data-placement="bottom" title="Remove"></i>
                                    </div>
                                </div><hr>
                                <div class="table-responsive">
                                    <table class="table tblReqPerClass table-hover">
                                        <thead>
                                            <tr>
                                                <th width="75%">Requirement</th>
                                                <th width="25%">Action</th>
                                            </tr> 
                                        </thead>
                                        <tbody id="carDefect">
                                            <tr>
                                                <td>Original Birth Certificate (NSO)</td>
                                                <td>
                                                    <i class="ti-pencil tiDef2" class="btnEditReq" onclick="editReq()" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                                    <i class="ti-close tiDef2" class="btnDelReq" onclick="delReq()" data-toggle="tooltip" data-placement="bottom" title="Remove"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Photocopy of Birth Certificate (NSO)</td>
                                                <td>
                                                    <i class="ti-pencil tiDef2" class="btnEditReq" onclick="editReq()" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                                    <i class="ti-close tiDef2" class="btnDelReq" onclick="delReq()" data-toggle="tooltip" data-placement="bottom" title="Remove"></i>
                                                </td>                                        
                                            </tr>
                                            <tr>
                                                <td>Parental Consent</td>
                                                <td>
                                                    <i class="ti-pencil tiDef2" class="btnEditReq" onclick="editReq()" data-toggle="tooltip" data-placement="bottom" title="Edit"></i>
                                                    <i class="ti-close tiDef2" class="btnDelReq" onclick="delReq()" data-toggle="tooltip" data-placement="bottom" title="Remove"></i>
                                                </td>          
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr class="hrCustom">
                    </div>
                </div>
            </div>
        </div><!-- End of Card  -->
    </div>
    <!-- End Container fluid  -->
</div>

<!-- Add Branch Modal -->
<div class="modal fade" id="addBranchModal" tabindex="-1" role="dialog" aria-labelledby="addBranchModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center>
            <h2 class="h6AddBranch"></h2>
            <h6>Fill out all required (<span class="asterisk">*</span>) fields.</h6>
        </center>
        <hr class="hrCustom"><br>
        <div>
            <form class="formAddBranch">
                <div>
                    <h5 class="h5Enr">Branch Name<span class="asterisk">*</span></h5>
                    <input type="text" class="txtEnr" required name="brName" id="brName" placeholder="Branch Name"><br>
                </div><hr>
                <div>
                    <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                    <input type="text" class="txtEnr" required name="brAddL1" id="brAddL1" placeholder="Address Line 1"><br>
                    <small style="padding-left: 10px;">Street Address, P.O. Box, Company Name, C/o</small>
                    <input type="text" class="txtEnr" required name="brAddL2" id="brAddL2" placeholder="Address Line 2"><br>
                    <small style="padding-left: 10px;">Apartment, Suite, Unit, Building, Floor, etc.</small>
                    <input type="text" class="txtEnr" required name="brCity" id="brCity" placeholder="City"><br> 
                    <input type="text" class="txtEnr" required name="brProv" id="brProv" placeholder="State/Province/Region"><br>
                    <input type="text" class="txtEnr" required name="brZip" id="brZip" placeholder="ZIP"><br>     
                </div><hr>
                <div>
                    <h5 class="h5Enr">Contact Number<span class="asterisk">*</span> <small>(Maximum of 2)</small></h5>
                    <input type="number" class="txtEnr" required name="brTel1" id="brTel1" placeholder="Tel/Cell#"><br>
                    <input type="number" class="txtEnr" required name="brTel2" id="brTel2" placeholder="Tel/Cell#"><br>
                </div><hr>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnCancAddBranch" onclick="confCancAddBranch()" class="btn btn-danger">Cancel</button>
        <button type="button" id="btnConfAddBranch" onclick="confAddBranch()" class="btn btn-success">Add</button>
        <button type="button" id="btnConfResetBranch" onclick="confResetBranch()" class="btn btn-light">Reset</button>
        <button type="button" id="btnConfEditBranch" onclick="confEditBranch()" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>