<div id="enrollment">
    <section class="enrollment">
        <div class="video_overlay">
            <div class="container">
                <div class="row">  
                    <div class="col-sm-12">             
                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                            <center>
                                <h5>Socialites Excellent Driving:</h5>
                                <h1>ENROLLMENT</h1>
                                <div class="separator"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container --> 
    </section><!-- End of section -->

    <div class="card pr1" style="padding: 20px 100px 20px 100px">
        <center>
            <h2>Step 1: Fill out enrollment form.</h2>
            <div class="separator"></div>
        </center>
        <form class="enrForm">
            <hr class="hrCustom"><br>
            <div>
                <h5 class="h5Enr">Name<span class="asterisk">*</span></h5>
                <input type="text" class="txtEnr" required name="enrFN" id="enrFN" placeholder="*First Name"><br>
                <input type="text" class="txtEnr" required name="enrMN" id="enrMN" placeholder="Middle Name"><br>
                <input type="text" class="txtEnr" required name="enrSN" id="enrSN" placeholder="*Surname"><br>
            </div><hr>
            <div>
                <h5 class="h5Enr">Birth Date<span class="asterisk">*</span></h5>
                <input type="date" class="txtEnr" required name="enrBday" id="enrBday" placeholder="mm/dd/yyyy"><br>
                <small class="span17">Sorry, only 17 years old and above are allowed to register.</small>
            </div><hr>
            <div>
                <h5 class="h5Enr">Birth Place<span class="asterisk">*</span></h5>
                <input type="text" class="txtEnr" required name="enrBplace" id="enrBplace" placeholder="*Birthplace"><br>
            </div><hr>
            <div>
                <h5 class="h5Enr">Social Title<span class="asterisk">*</span></h5>
                <input type="radio" class="enrSexRD" id="enrSex1" name="enrSex" value="Male" checked>
                    <label class="enrSexLbl" for="enrSex1">Mr.</label><br>
                <input type="radio" class="enrSexRD" id="enrSex2" name="enrSex" value="Female">
                    <label class="enrSexLbl" for="enrSex2">Ms.</label>
            </div><hr>
            <div>
                <h5 class="h5Enr">Address<span class="asterisk">*</span></h5>
                <textarea rows="3" class="enrTxtArea" id="enrAddress" placeholder="*Address"></textarea>
            </div><hr>
            <div>
                <h5 class="h5Enr">Civil Status<span class="asterisk">*</span></h5>
                <select class="enrCivStatus" name="enrCivStatus">
                    <option value="civ0">---</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Separated">Separated</option>
                    <option value="Widowed">Widowed</option>
                </select>
            </div><hr>
            <div>
                <h5 class="h5Enr">Occupation</h5>
                <input type="text" class="txtEnr" required name="enrOcc" id="enrOcc" placeholder="Occupation"><br>
            </div><hr>
            <div>
                <h5 class="h5Enr">Contact<span class="asterisk">*</span></h5>
                <input type="number" class="txtEnr" required name="enrCont" id="enrCont" placeholder="*Contact Number"><br>
                <input type="email" class="txtEnr" required name="enrEmail" id="enrEmail" placeholder="Email Address"><br>
            </div><hr>
            <div>
                <h5 class="h5Enr">Guardian Information<span class="asterisk">*</span></h5>
                <input type="text" class="txtEnr" required name="enrGuard" id="enrGuard" placeholder="*Parent/Guardian Name"><br>
                <input type="number" class="txtEnr" required name="enrGuardCont" id="enrGuardCont" placeholder="*Contact Number"><br>
            </div><hr>
        </form>
    <hr></div>
</div>